@import url(normalize.css);

.header {
	background-color: red;
	height: 60px;
	top: 0px;
}

.heading-header {
	color: white;
	font-size: 15px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 30px;
	

}

.content {
	text-align: center
}

section {
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 20px 20px;


	
}

.first {
	width: 350px;
	border: solid black	5px;
	border-radius: 30px;
	

}

.second {
	width: 350px;
	border: solid black	5px;
	border-radius: 30px;
	margin-left: 50px;
	margin-right: 50px;

}


.third {
	width: 350px;
	border: solid black	5px;
	border-radius: 30px;
}


.footer {
	background-color: red;
	height: 100px;
	position: relative;
}

.footer-text {
	color: white;
	position: absolute;
	left: 50px;
}

a {
	color: white;
	position: relative;
	right: -1040px;
	
}




