@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

header {
	display: flex;
	flex-direction: row;
	position: fixed;
	background-color: white;
	width: 1440px;
	height: 100px;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.logo-header {
	height: 40px;
	width: 120px;
}

a {
	font-family: "Inter";
	color: #E50043;
	font-size: 20px;
	text-decoration: none;

}


.start-block-picture {
	height: 950px;
	width: 1440px;

}

.start-block-heading {
	font-family: "Inter";
	color: #E50043;
	font-size: 120px;
	text-align: center;
	font-weight: normal;
	position: relative;
	top: -500px;

}

.info-first {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	height: 280px;
	width: 1000px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	margin: auto;
}

.info-first-heading {
	font-family: "Inter";
	font-size: 40px;
	text-align: left;
	margin-left: 20px;

}

.info-first-text {
	font-family: "Inter";
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
	margin-right: 40px;
	margin-top: -20px;

}

.products {
	display: flex;
	margin-top: 250px;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 250px;
}

.wang, .blue, .chiara {
	font-family: "Inter";
	font-size: 20px;
	text-align: center;
	font-weight: lighter;
}


.info-second {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	height: 280px;
	width: 1000px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	margin: auto;
}

.info-second-picture {
	height: 220px;
	width: 101px;

}

.info-second-text {
	font-family: "Inter";
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
	margin-right: 40px;
	margin-top: -20px;
	line-height: 30px;
}

footer {
	background-color: #F8BFC7;
	width: 1440px;
	height: 100px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.footer-text {
	margin-left: 100px;
	font-family: "Inter";
	font-size: 40px;
	text-align: left;
	color: white;
}














