
main {
	width: 60rem;
	height: 80rem;
	background-color: #2B30A3;
	display: grid;
	grid-template-columns: 6fr 6fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"heading-1 red-1"
	"heading-2 red-1"
	"heading-3 post"
	"heading-4 text"



}

.heading-1 {
	grid-area: heading-1;
}

.heading-2 {
	grid-area: heading-2;
}

.heading-3 {
	grid-area: heading-3;
}

.heading-4 {
	grid-area: heading-4;
}


.post-heading {
	grid-area: post;
	align-self: center;
}

.text {
	grid-area: text;
	align-self: center;
}
