/* _________________ ОБЩИЕ СТИЛИ _________________ */

html {
	font-size: 10px !important;
}

@font-face {
	font-family: "Partisanpress";
	src: url(../fonts/Partisanpress.otf);
	font-weight: bold;
}

@font-face {
	font-family: "OCR";
	src: url(../fonts/OCR55.otf);
	font-weight: normal;
}

#container {
	margin: 3rem 15% !important;
}

h1 {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 26rem !important;
	text-align: left;
	line-height: 95%;
	margin: 0;
	position: 0;
}

h2 {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 14rem !important;
	text-align: left;
	line-height: 90%;
	margin: 0;
	padding: 0;
}

p {
	font-family: "OCR";
	font-size: 2rem;
	
}

.logo {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 5rem !important;
	letter-spacing: 2px;
}

a {
	font-family: "OCR";
	font-size: 2rem;
	margin-top: -.5rem;
	width: 35vw;
	color: black;
	text-decoration: none;
}

a:hover {
	font-family: "OCR";
	font-size: 2rem;
	margin-top: -.5rem;
	width: 35vw;
	color: black;
	text-decoration: underline;
}

/* _________________ ОБЩИЕ СТИЛИ _________________ */


/* _________________ ХЭДЕР _________________ */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#header-link-2 {
	margin: 0 4rem;
}
/* _________________ ХЭДЕР _________________ */

/* _________________ ПЕРВЫЕ ЗАГОЛОВКИ _________________ */

#start-big-headings {
	height: 200%;
	margin: 30rem 0;
}

#start-heading-2 {
	margin: 35rem 0;
}

/* _________________ ПЕРВЫЕ ЗАГОЛОВКИ _________________ */

/* _________________ О ПРОЕКТЕ _________________ */

#about {
	width: 50vw;
}

#about-block-2 {
	margin: 15rem 0;
}

/* _________________ О ПРОЕКТЕ _________________ */

/* _________________ БОЛЬШАЯ КНОПКА _________________ */

#to-store {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#to-store-button {
	width: 100%;
	height: 50rem;
	background-color: #EA0404;
	border: none;
	font-family: "Partisanpress";
	color: white;
	font-size: 14rem !important;
	line-height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: .5s;
}

#to-store-button:hover {
	background-color: white;
	border: solid black 1px;
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 14rem !important;
	line-height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: .5s;
}

/* _________________ БОЛЬШАЯ КНОПКА _________________ */

/* _________________ ЗАГОЛОВОК ИСТОРИИ _________________ */

#story-big-heading {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* _________________ ЗАГОЛОВОК ИСТОРИИ _________________ */

/* _________________ ИСТОРИИ _________________ */


#stories-blocks {
	position: relative;
	height: 150vh;
}



#story-block-2 {
	position: relative;
	top: -1263px;
	display: none;
}

#story-block-3 {
	position: relative;
	top: -1263px;
	display: none;


}


#story-block-container-1, #story-block-container-2, #story-block-container-3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10rem; 
}

.story-block-text {
	width: 35vw !important;

}


#story-block-1-pic {
	width: 25vw;
	height: 55vh;
	background-image: url(../img/pic-1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#story-block-2-pic {
	width: 25vw;
	height: 55vh;
	background-image: url(../img/pic-2.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#story-block-3-pic {
	width: 25vw;
	height: 55vh;
	background-image: url(../img/pic-3.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


/* _________________ ИСТОРИИ _________________ */



/* _________________ ЗАГОЛОВОК КАРТА _________________ */

#map-big-heading {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* _________________ ЗАГОЛОВОК КАРТА _________________ */

/* _________________ КАРТА _________________ */

.red-point {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #EA0404;
	cursor: pointer;
}

.coordinats {
	height: 3rem;
	border: 2px solid #000000;
	box-sizing: border-box;
	padding: 1rem 1rem;
	line-height: 0;
	text-align: center;
}

#bullet-1, #bullet-2, #bullet-3, #bullet-4, #bullet-5, #bullet-6, #bullet-7, #bullet-8{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}

#map-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
}

#bullet-1 {
	left: 0px;
	top: 200px;
}

#bullet-2 {
	left: 350px;
	top: 100px;
}

#bullet-3 {
	right: 220px;
	top: 230px;
}

#bullet-4 {
	right: 0px;
	top: 140px;
}

#bullet-5 {
	left: 148px;
	top: 615px;
}

#bullet-6 {
	left: 450px;
	top: 568px;
}

#bullet-7 {
	left: 692px;
	top: 636px;
}

#bullet-8 {
	left: 980px;
	top: 542px;
}


/* Смартфон Вертикально */
@media screen and (max-width: 600px) {

	
}

/* Смартфон Горизонтально */
@media screen and (max-width: 960px) {


}

/* Ноутбук */
@media screen and (max-width: 1264px) {


}

/* Большой монитор */
@media screen and (max-width: 1904px) {


}