@media (max-width: 767px){
	h1{
		font-size: 66px !important;
		line-height: 66px;
		letter-spacing: 0.015em;
	}

	h2{
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 0.015em;
	}

	p {
		font-size: 14px;
		line-height: 100.2%;
	}





	.big-button {
		font-size: 30px;
		width: 140px;
	}

	.container {
	width: 350px;
	margin: 20px auto;
	border: 1px dashed black;
	}

	.right-side {
		border-right: none;	
		border-left: none;
	}

	.left-side {
	border-right: none;	
	border-left: none;
	border-bottom: 1px dashed black;
	margin-left: 0px 
	}

	.right-side {
	margin: 0px;
	border-bottom: 1px dashed black;
	}

	#left-about {
		height: 505px;
	}

	#left-about h1 {
	margin-top: 100px !important;
	margin-bottom: 160px !important;
	margin-left: 20px !important;
	}

	#left-about h2 {
		margin-left: 20px !important;
	}

	#right-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 390px; 
	border: none;
	}

	#right-about h2 {
		margin-left: -20px !important;
		margin-top: 10px !important;
	}

	#right-about p {
		margin-left: -20px !important;
	}

	#left-shop {
		margin-top: 0px;
	}

	#right-shop {
		height: 320px;
		border: none;
	}

	#right-shop h2 {
		margin-top: 50px; 
		margin-left: 20px;
	}

	#right-shop a {
		margin-left: 20px;
		margin-bottom: 50px;
	}

	.button-wrapper {
		margin-bottom: 50px;
	}

	#left-story {
		height: 505px;
	}

	#left-story h1 {
		margin-top: 80px !important;
		margin-bottom: 120px !important;
		margin-left: 20px !important;
	}

	#left-story h2 {
		margin-left: 20px !important;
	}

	#right-story {
		height: 685px
	}

	.story-text-wrapper {
		margin-left: 20px !important;
	}

	.story-button {
		position: absolute;
 		bottom: 20px;	
	}

	.map-wrapper {
		margin: 40px 20px 0 0 !important;

	}

	.map-wrapper {
		height: 360px;
	}

	.map-point {
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	justify-content: center;
 	margin-bottom: 10px;
 	margin-left: 20px; 
	}

	.map-circle {
		margin-right: 4px;
	} 

	#map-point-empty-2, #map-point-empty-1 {
		display: none;
	}

	#map-point-5, #map-point-6 {
		display: none;
	}

	.story-text-wrapper {
		margin-top: -30px;
	}

	#right-map h2 {
		margin-left: 20px;

	}

	#right-map {
		border: none;
		margin-bottom: 50px;
		margin-top: 30px;
	}

	.right-map-text-wrapper{
		margin-top: 50px;
	}

	.map-text-wrapper img {
		margin-left: 20px;
		width: 80%;
	}

	.map-text-wrapper p {
		margin-left: 20px;
	}

	.map-text-wrapper {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#left-contact {
		height: 680px;
	}

	#left-contact h1 {
		margin-left: 20px !important;
		margin-top: 60px !important;
	}

	#left-contact h2 {
		margin-left: 20px;
	}

	#left-contact p {
		margin-left: 20px;
	}

	#right-contact {
		margin-top: 60px;
		border: none;
		height: 300px;
	}

	#right-contact h2 {
		margin-bottom: 40px;
		margin-left: 20px;

	}

	#right-contact a {
		margin-left: 20px;
	}


	#left-footer h2 {
		margin-top: 20px !important;
		margin-bottom: 20px;
		margin-left: 20px;

	}

	#right-footer h2 {
		margin-bottom: 20px;
		margin-top: 20px !important;
		margin-left: 20px;
	}

	#right-footer {
		border: none;
	}


	
}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 991px) and (max-width: 1199px) {

}












