@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
	font-size: 10px;
}

header {
	height: 10rem;
	width: 100%;
	background-color: #0000FF;
	position: relative;
}

.header-text {
	font-family: 'Poppins', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	color: white;
	position: absolute;
	left: 3rem;
	top: 2rem;

}

.content {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.block {
	width: 80%;
	height: 16.5rem;
	border: black solid 4px;
	margin-top: 2.5rem;
	text-align: center;
	display: flex;
	padding: 2rem;
}

.block-text {
	font-family: 'Poppins', sans-serif;
	font-size: 3.5rem;
	font-weight: bold;
	margin: auto;
}

footer {
	height: 100px;
	width: 100%;
	background-color: #0000FF;
	position: relative;
	width: 100%;
}

.footer-text {
	font-family: 'Poppins', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	color: white;
	position: absolute;
	left: 3rem;
	top: 2rem;
	
}



@media screen and (min-width: 600px) {

	html {
	font-size: 15px;
}

header {
	height: 8rem;
	width: 100%;
	background-color: #0000FF;
	position: relative;
}

.header-text {
	font-family: 'Poppins', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	color: white;
	position: absolute;
	left: 3rem;
	top: 0rem;

}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.block {
	width: 34%;
	height: 16.5rem;
	border: black solid 4px;
	margin-top: 1.5rem;
	margin-left: 1.5rem;
	text-align: center;
	display: flex;
	padding: 2rem;
}

.block-text {
	font-family: 'Poppins', sans-serif;
	font-size: 2.3rem;
	font-weight: bold;
	margin: auto;
}

footer {
	height: 8rem;
	width: 100%;
	background-color: #0000FF;
	position: relative;
	width: 100%;
	}

.footer-text {
	font-family: 'Poppins', sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	color: white;
	position: absolute;
	left: 3rem;
	top: 0rem;
	
	}
}

