@import url(normalize.css);

/*.container {
	display: grid;
	margin: 0rem 5rem;
	grid-template-columns: repeat(8, 1fr);
	grid-template-areas: 
	"logo logo logo menu menu menu menu menu"
	"first"
}
*/

.menu {
	display: grid;
	margin: 0rem 15rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: 
	"logo menu menu menu";
}

.logo {
	grid-area: logo;
	align-self: center;
	justify-self: start;
}

.menu-bar {
	grid-area: menu;
	align-self: center;
	justify-self: end;
}

.second-screen {
	display: grid;
	margin: 0rem 15rem;
	grid-gap: 0rem 4rem;
	grid-template-columns: 3fr 3fr;
	grid-template-areas: 
	"h1 h2"
	"h1 p"

}

.second-screen h1 {
	grid-area: h1;
	align-self: center;
}

.second-screen h2 {
	grid-area: h2;
}


.second-screen p {
	grid-area: p;
	align-self: start;
}

