/* _________________ ОБЩИЕ СТИЛИ _________________ */

html {
	font-size: 10px !important;
}

@font-face {
	font-family: "Partisanpress";
	src: url(../fonts/Partisanpress.otf);
	font-weight: bold;
}

@font-face {
	font-family: "OCR";
	src: url(../fonts/OCR55.otf);
	font-weight: normal;
}



#container {
	width: 70vw;
	margin: 0px auto;
}

h1 {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 25rem;
	text-align: left;
	line-height: 95%;
	margin: 0;
	position: 0;
}

h2 {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 14rem !important;
	text-align: left;
	line-height: 90%;
	margin: 0;
	padding: 0;
}

p {
	font-family: "OCR";
	font-size: 1.6rem;
	
}

span {
	font-family: "OCR";
	font-size: 1.6rem;
	margin-top: .5rem; 
	line-height: 0;
}

.logo {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 5rem !important;
	letter-spacing: 2px;
}
.nav {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 14rem !important;
	text-align: left;
	line-height: 90%;
	margin-top: 5rem;
	margin-left: 25rem; 
	transition: .3s;
}

.nav:hover {
	font-family: "Partisanpress";
	color: black;
	font-size: 14rem !important;
	text-align: left;
	line-height: 90%;
	margin-top: 5rem;
	margin-left: 28rem; 
	text-decoration: none;
	transition: .3s;

}


a {
	font-family: "OCR";
	font-size: 1.6rem;
	margin-top: -.5rem;
	width: 35vw;
	color: black;
	text-decoration: none;
	line-height: 170%;
}

a:hover {
	font-family: "OCR";
	font-size: 1.6rem;
	margin-top: -.5rem;
	width: 35vw;
	color: black;
	text-decoration: underline;
}



#about-block-1-img {
	display: none;
}

#about-block-2-img {
	display: none;
}

#about-block-3-img {
	display: none;
}
/* _________________ ОБЩИЕ СТИЛИ _________________ */


/* _________________ ХЭДЕР _________________ */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 5rem;
}

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:6;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
	background-color: white;
	transform: translateX(-100%);
	transition: transform 0.5s; 
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index:5;
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}

.menu-btn.active span:first-of-type {
	transform: translateX(100%);
}

.menu-btn.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

/* _________________ ХЭДЕР _________________ */

/* _________________ ПЕРВЫЕ ЗАГОЛОВКИ _________________ */

#start-big-headings {
	margin: 30rem 0;
}

#to-store-mobile {
	width: 30%;
	height: 5rem;
	background-color: #EA0404;
	display: block;
	border: none;
	font-family: "OCR";
	font-size: 2rem;
	color: white;
	text-align: center;
	line-height: 250%;
}

#to-store-mobile:hover {
	background-color: #fff;
	color: black;
	text-decoration: none;
	border: 1px solid black;
}
#start-heading-2 {
	margin: 35rem 0;
}

/* _________________ ПЕРВЫЕ ЗАГОЛОВКИ _________________ */

/* _________________ О ПРОЕКТЕ _________________ */

#about p {
	width: 40vw;
}

#about-block-2 {
	margin: 15rem 0;
}

/* _________________ О ПРОЕКТЕ _________________ */

/* _________________ БОЛЬШАЯ КНОПКА _________________ */

#to-store {
	height: 150vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#to-store-button {
	width: 100%;
	height: 40rem;
	background-color: #EA0404;
	border: none;
	font-family: "Partisanpress";
	color: white;
	font-size: 14rem !important;
	line-height: 100%;
	margin: 10rem 0;
	text-align: center;
	transition: .5s;
	outline: none;
	text-align: center;
}

#to-store-button:hover {
	background-color: white;
	border: solid black 1px;
	color: #EA0404;
	
}

/* _________________ БОЛЬШАЯ КНОПКА _________________ */

/* _________________ ЗАГОЛОВОК ИСТОРИИ _________________ */

#story-big-heading {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* _________________ ЗАГОЛОВОК ИСТОРИИ _________________ */

/* _________________ ИСТОРИИ _________________ */


#stories-block {
	position: relative;
	height: 100vh;
}

#story-block-1 {
	position: absolute;
	top: 0;
}


#story-block-2 {
	position: absolute;
	top: 0;
	display: none;
}

#story-block-3 {
	position: absolute;
	top: 0;
	display: none;


}


#story-block-container-1, #story-block-container-2, #story-block-container-3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10rem; 
}

.story-block-text {
	width: 35vw !important;

}

#story-block-pic-button {
	margin-left: 7rem;
}


#story-block-1-pic {
	width: 25vw;
	height: 55vh;
	background-image: url(../img/pic-1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#story-block-2-pic {
	width: 25vw;
	height: 55vh;
	background-image: url(../img/pic-2.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#story-block-3-pic {
	width: 25vw;
	height: 55vh;
	background-image: url(../img/pic-3.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.story-button {
	width: 25vw;
	font-family: "OCR";
	font-size: 2rem;
	height: 4rem;
	border: 1px solid #000000;
	box-sizing: border-box;
	padding: 1rem 1rem;
	line-height: 0;
	text-align: center;
	margin-top: 5rem; 
	background-color: #fff;
	outline: none;
	transition: .3s;

}

.story-button:hover {
	background-color: #EA0404;
	border: none;
	color: white;
	transition: .3s;

}

/* _________________ ИСТОРИИ _________________ */



/* _________________ ЗАГОЛОВОК КАРТА _________________ */

#map-big-heading {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20rem;
}

/* _________________ ЗАГОЛОВОК КАРТА _________________ */

/* _________________ КАРТА _________________ */

.red-point {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #EA0404;
	cursor: pointer;
}

.coordinats {
	height: 3.5rem;
	border: 1px solid #000000;
	box-sizing: border-box;
	padding: 1.5rem 1rem;
	line-height: 0;
	text-align: center;
	transition: .3s;
}

.coordinats:hover {
	background-color: #EA0404;
	border: none;
	color: white;
	transition: .3s;
}



#bullet-1, #bullet-2, #bullet-3, #bullet-4, #bullet-5, #bullet-6, #bullet-7, #bullet-8{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}

#map-screen-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	margin-bottom: 20rem;
}

#bullet-1 {
	left: 0px;
	top: 200px;
}

#bullet-2 {
	left: 350px;
	top: 100px;
}

#bullet-3 {
	right: 220px;
	top: 230px;
}

#bullet-4 {
	right: 0px;

	top: 140px;
}

#bullet-5 {
	left: 40px;
	top: 715px;
}

#bullet-6 {
	left: 300px;
	top: 600px;
}

#bullet-7 {
	left: 500px;
	top: 800px;
}

#bullet-8 {
	right: 60px;
	top: 680px;
}

/* _________________ КАРТА _________________ */

/* _________________ ЭКРАНЫ БУЛЛЕТЫ _________________ */

#bullet-1-screen {
	width: 45vw;
	position: absolute;
	top: 710rem;
	left: 65rem;
	display: none;
}

#bullet-1-pic {
	width: 25vw;
	height: 35vh;
	background-image: url(../img/pic-3.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 5rem;

}

#bullet-1-screen p {
	width: 35vw;
}

/* _________________ КОНТАКТЫ ЗАГОЛОВОК _________________ */

#contact-big-heading {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 20rem 0;
}

/* _________________ КОНТАКТЫ ЗАГОЛОВОК _________________ */

/* _________________ КОНТАКТЫ _________________ */

#contact-screen p {
	width: 40vw;
}

#contact-text-block-2, #contact-text-block-3, #contact-text-block-4 {
	margin-top: 15rem;
}

#contact-text-block-3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#contact-text-block-4 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#bullet-contact {
	display: flex;
	flex-direction: column;
	align-items: center;


}

/* _________________ КОНТАКТЫ _________________ */

/* _________________ ФУТЕР _________________ */

footer {
	margin: 15rem 0 5rem 0; 
}







@media (max-width: 767px) {

	#container {
		width: 90%;
		margin: 0px auto;
	}

	h1 {
		font-size: 7.2rem;
		width: 100vw;
	}



	h2 {
		
		font-size: 4.8rem !important;
		
	}

	p {
		
		font-size: 1.3rem;
		
	}

	span {	
		font-size: 1.3rem;
		margin-top: 0rem; 
		
	}

	.logo {	
		font-size: 3rem !important;
	}

	a {
		font-size: 1.3rem;
	}

	

	.nav {
	font-size: 4.8rem !important; 
	margin-left: 3rem; 
	}

	.nav:hover {
	font-size: 4.8rem !important;
	margin-left: 4rem; 
	}	

	.menu {
		background-color: white;
		height: 100vh;
	}

	

	#start-big-headings {
		margin: 30rem 0 40rem;
		z-index: -9999;
	}

	#start-heading-1 {
		margin: 1rem 0;
	}
	

	#to-store-mobile {
		width: 30%;
		height: 3.5rem;
		background-color: #EA0404;
		display: block;
		border: none;
		font-family: "OCR";
		font-size: 1.3rem;
		color: white;
		text-align: center;
		line-height: 250%;
		z-index: -9999;
	}

	#to-store-mobile:hover {
		font-size: 1.3rem;
		text-decoration: none;
		color: black;
		background-color: #fff;
		border: 1px solid black; 
	}

	#start-heading-2 {
		margin: 50rem 0;
	}

	#about p {
		width: 85vw;
	}

	#about-block-2 {
	margin: 10rem 0;
	}

	#about-block-1-img {
	display: block;
	background-image: url(../img/pic-1.png);
	width: 90vw;
	height: 35vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	}

	#about-block-2-img {
	display: block;
	background-image: url(../img/pic-2.png);
	width: 90vw;
	height: 35vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	}

	#about-block-3-img {
	display: block;
	background-image: url(../img/pic-3.png);
	width: 90vw;
	height: 35vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	}


	#to-store-button {
		font-size: 4.8rem !important;
		height: 10rem;
		text-align: center;
		margin: 4rem 0;
	}

	#to-store {
		height: 90vh;
		margin: 20rem 0
		
	}



	#story-big-heading {
		margin: -10rem 0 0rem;
		height: 50vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	#story-block-container-1, #story-block-container-2, #story-block-container-3 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 10rem; 
	}


	.story-block-text {
		width: 90vw !important;

	}

	#story-block-pic-button {
		margin-left: 0rem;
	}


	#story-block-1-pic {
		width: 90vw;
		height: 35vh;
		background-image: url(../img/pic-1.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#story-block-2-pic {
		width: 90vw;
		height: 35vh;
		background-image: url(../img/pic-2.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#story-block-3-pic {
		width: 90vw;
		height: 35vh;
		background-image: url(../img/pic-3.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.story-button {
		width: 90vw;
		font-family: "OCR";
		font-size: 1.3rem;
		height: 3rem;
		border: 1px solid #000000;
		box-sizing: border-box;
		padding: 1rem 1rem;
		line-height: 0;
		text-align: center;
		margin-top: 2rem; 
		background-color: #fff;
		outline: none;
		transition: .3s;

	}

	.story-button:hover {
		background-color: #EA0404;
		border: none;
		color: white;
		transition: .3s;

	}

	#map-big-heading {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 55rem 0 10rem;

	}


	.red-point {
		width: 14px;
		height: 14px;
		border-radius: 10px;
		background-color: #EA0404;
		cursor: pointer;
		margin-bottom: .5rem;
	}

	.coordinats {
		border: 1px solid #000000;
		box-sizing: border-box;
		line-height: 0;
		text-align: center;
		transition: .3s;
		width: 70vw;


	}

	#map-screen-container {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		position: relative;
		margin: 5rem 0;
	}




	#bullet-1 {
		left: 0px;
		top: 80px;
	}

	#bullet-2 {
		left: 55px;
		top: 180px;
	}

	#bullet-3 {
		left: 130px;
		top: 280px;
	}

	#bullet-4 {
		left: 55px;
		top: 380px;
	}

	#bullet-5 {
		display: none;
	}

	#bullet-6 {
		display: none;
		
	}

	#bullet-7 {
		display: none;
		
	}

	#bullet-8 {
		display: none;
	}

	#contact-big-heading {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 10rem 0 20rem;
	}

	#contact-text-block-2, #contact-text-block-3, #contact-text-block-4 {
	margin-top: 20rem;
	}

	#contact-screen p, a {
		width: 90vw;
	}

	footer {
		margin: 10rem 0 5rem 0; 
	}

}


@media (min-width: 768px) and (max-width: 991px) {

	#container {
		width: 90%;
		margin: 0px auto;
	}

	h1 {
		font-size: 12rem;
		width: 80vw;
	}



	h2 {
		
		font-size: 9rem !important;
		
	}

	p {
		
		font-size: 1.6rem;
		
	}

	span {	
		font-size: 1.6rem;
		margin-top: 0rem; 
		
	}

	.logo {	
		font-size: 5rem !important;
	}

	a {
		font-size: 1.6rem;
	}

	#start-big-headings {
		margin: 20rem 0;
	}

	#start-heading-2 {
		margin: 70rem 0;
	}


	#about p {
		width: 80vw;
	}


	#to-store-button {
		font-size: 9rem !important;
		height: 25vh; 
	}

	#to-store {
		height: 100vh;
		margin-top: 20rem;
	}

	#story-big-heading {
		margin: 30rem 0 10rem;
		height: 50vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	#story-block-container-1, #story-block-container-2, #story-block-container-3 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 10rem; 
	}


	.story-block-text {
		width: 80vw !important;

	}

	#story-block-pic-button {
		margin-left: 0rem;
	}


	#story-block-1-pic {
		width: 80vw;
		height: 35vh;
		background-image: url(../img/pic-1.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#story-block-2-pic {
		width: 80vw;
		height: 35vh;
		background-image: url(../img/pic-2.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#story-block-3-pic {
		width: 80vw;
		height: 35vh;
		background-image: url(../img/pic-3.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.story-button {
		width: 80vw;
		font-family: "OCR";
		font-size: 1.3rem;
		height: 3rem;
		border: 1px solid #000000;
		box-sizing: border-box;
		padding: 1rem 1rem;
		line-height: 0;
		text-align: center;
		margin-top: 2rem; 
		background-color: #fff;
		outline: none;
		transition: .3s;

	}

	.story-button:hover {
		background-color: #EA0404;
		border: none;
		color: white;
		transition: .3s;

	}

	#map-big-heading {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 55rem;

	}


	.red-point {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background-color: #EA0404;
		cursor: pointer;
		margin-bottom: .5rem;
	}

	.coordinats {
		border: 1px solid #000000;
		box-sizing: border-box;
		line-height: 0;
		text-align: center;
		transition: .3s;
		width: 50vw;

	}

	#map-screen-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 80vh;
		margin: 5rem 0;
	}


	#bullet-1 {
		left: 0px;
		top: 0px;
	}

	#bullet-2 {
		right: 50px;
		top: 80px;
	}

	#bullet-3 {
		left: 10px;
		top: 160px;
		
	}

	#bullet-4 {
		right: 40px;
		top: 240px;
	}

	#bullet-5 {
		left: 0px;
		top: 500px;
	}

	#bullet-6 {
		right: 50px;
		top: 580px;
		
	}

	#bullet-7 {
		left: 10px;
		top: 660px;

	}

	#bullet-8 {
		right: 40px;
		top: 740px;

	}

	#contact-big-heading {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 20rem 0 5rem;
	}

	#contact-screen p, a {
		width: 90vw;
	}

	footer {
		margin: 10rem 0 0rem 0; 
	}
	}


@media (min-width: 991px) and (max-width: 1199px) {

  	#container {
		width: 80%;
		margin: 0px auto;
		}

	h1 {
		font-size: 13rem;
		width: 80vw;
		}



	h2 {
		
		font-size: 9rem !important;
		
	}

	p {
		
		font-size: 1.6rem;
		
	}

	span {	
		font-size: 1.6rem;
		margin-top: 0rem; 
		
	}

	.logo {	
		font-size: 5rem !important;
	}

	a {
		font-size: 1.6rem;
	}

	#start-big-headings {
		margin: 30rem 0;
	}

	#start-heading-2 {
		margin: 70rem 0;
	}


	#about p {
		width: 80vw;
	}


	#to-store-button {
		font-size: 15rem !important;
		height: 70vh; 
	}

	#to-store {
		height: 100vh;
		margin-top: 20rem;
	}

	#story-big-heading {
		margin: 10rem 0 10rem;
		height: 50vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	#story-block-container-1, #story-block-container-2, #story-block-container-3 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 10rem; 
	}


	.story-block-text {
		width: 80vw !important;

	}

	#story-block-pic-button {
		margin-left: 0rem;
	}


	#story-block-1-pic {
		width: 80vw;
		height: 30vh;
		margin-top: 3rem; 
		background-image: url(../img/pic-1.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#story-block-2-pic {
		width: 80vw;
		height: 30vh;
		margin-top: 3rem;
		background-image: url(../img/pic-2.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	#story-block-3-pic {
		width: 80vw;
		height: 30vh;
		margin-top: 3rem;
		background-image: url(../img/pic-3.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.story-button {
		width: 80vw;
		font-family: "OCR";
		font-size: 1.6rem;
		height: 3rem;
		border: 1px solid #000000;
		box-sizing: border-box;
		padding: 1rem 1rem;
		line-height: 0;
		text-align: center;
		margin-top: 2rem; 
		background-color: #fff;
		outline: none;
		transition: .3s;

	}

	.story-button:hover {
		background-color: #EA0404;
		border: none;
		color: white;
		transition: .3s;

	}

	#map-big-heading {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 25rem;

	}


	.red-point {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background-color: #EA0404;
		cursor: pointer;
		margin-bottom: .5rem;
	}

	.coordinats {
		border: 1px solid #000000;
		box-sizing: border-box;
		line-height: 0;
		text-align: center;
		transition: .3s;
		width: 40vw;

	}

	#map-screen-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 80vh;
		margin: 5rem 0;
	}


	#bullet-1 {
		left: 0px;
		top: 0px;
	}

	#bullet-2 {
		left: 200px;
		top: 80px;
	}

	#bullet-3 {
		left: 10px;
		top: 160px;
		
	}

	#bullet-4 {
		left: 280px;
		top: 240px;
	}

	#bullet-5 {
		left: 0px;
		top: 500px;
	}

	#bullet-6 {
		left: 300px;
		top: 580px;
		
	}

	#bullet-7 {
		left: 10px;
		top: 650px;
		
	}

	#bullet-8 {
		left: 280px;
		top: 720px;
	}

	#contact-big-heading {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 10rem 0 5rem;
	}

	#contact-screen p, a {
		width: 80vw;
	}

	footer {
		margin: 10rem 0 0rem 0; 
	}

}

@media (max-width: 1580px) {
	h1 {
		font-size: 20rem;
	}
}


