

html {
	font-size: 10px;
}
@font-face {
	font-family: "Partisanpress";
	src: url(../fonts/Partisanpress.otf);
	font-weight: bold;
}

@font-face {
	font-family: "OCR";
	src: url(../fonts/OCR55.otf);
	font-weight: normal;
}


.page {
	margin: 0 15rem;
}

h1 {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 28rem !important;
	text-align: left;
	line-height: 88%;
}

h2 {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 14rem !important;
	text-align: left;
	line-height: 100%;
}

h3 {
	font-family: "OCR";
	font-size: 3.6rem;
	text-transform: uppercase;
	font-weight: normal;

}

p {
	font-family: "OCR";
	font-size: 1.6rem;
	margin-top: -.5rem;
	width: 35vw;
}

.main-button {
	height: 120px;
	width: 560px;
	background-color: white;
	border: 2px solid #000000;
	box-sizing: border-box;
	font-family: "OCR" !important;
	font-size: 3.6rem !important;
	text-transform: uppercase !important;
	font-weight: normal;
}



.logo {
	font-family: "Partisanpress";
	color: #EA0404;
	font-size: 5rem !important;
}

a {
	font-family: "OCR";
	font-size: 1.6rem;
	color: black;
	text-decoration: none;
	margin: 0 4rem;
}

a:hover {
	font-family: "OCR";
	font-size: 1.6rem;
	color: black;
}

/* Общие стили*/


/* Стили блоков*/

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 4rem;

}




.about-screen-h1 {
	margin: 40rem 0;
}


.about-screen-h2 {
	margin: 15rem 0 0rem 0 !important;
}

.map-screen {
	height: 70rem;
	position: relative;
	margin: 20rem 0;
}

.red-point {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #EA0404;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

.coordinats {
	width: 25rem;
	height: 2.5rem;
	border: 2px solid #000000;
	box-sizing: border-box;
	padding: 1rem .5rem;
	line-height: 0;
	text-align: center;
}

.bullet-1, .bullet-2, .bullet-3, .bullet-4, .bullet-5, .bullet-6, .bullet-7, .bullet-8{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}

.map-heading {
	left: 318px;
	top: 309px;
	position: absolute;
	line-height: 0;
}



.bullet-1 {
	left: 150px;
	top: 182px;
}

.bullet-2 {
	left: 468px;
	top: 72px;
}

.bullet-3 {
	left: 651px;
	top: 187px;
}

.bullet-4 {
	left: 985px;
	top: 108px;
}

.bullet-5 {
	left: 168px;
	top: 615px;
}

.bullet-6 {
	left: 470px;
	top: 568px;
}

.bullet-7 {
	left: 712px;
	top: 636px;
}

.bullet-8 {
	left: 1000px;
	top: 542px;
}



.first-map-screen {
	height: 70rem;
	position: relative;
	margin: 20rem 0;
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: left;
	background-color: white;
}

.picture-map {
	width: 450px;
	height: 450px;
	background-image: url(../img/pic-map.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

.container-picture-map {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: -840px
}

.container-picture-map p {
	width: 25vw;
}

.stories-screens {
	position: relative;
	height: 100vh;
}



.first-story-screen {
	position: absolute;
	top: 0;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
}

.second-story-screen {
	position: absolute;
	top: 0;

	display: none;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
}

.third-story-screen {
	position: absolute;
	top: 0;

	display: none;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
}



.first-story-button, .second-story-button, .third-story-button {
	height: 100px;
	width: 560px;
	background-color: white;
	border: 2px solid #000000;
	box-sizing: border-box;
	font-family: "OCR" !important;
	font-size: 3.6rem !important;
	text-transform: uppercase !important;
	font-weight: normal;
	margin-top: 4rem;
}

.first-story-button:hover, .second-story-button:hover, .third-story-button:hover {
	height: 100px;
	width: 560px;
	background-color: #FAFAFA;
	border: 2px solid #000000;
	box-sizing: border-box;
	font-family: "OCR";
	font-size: 3.6rem;
	text-transform: uppercase;
	font-weight: normal;
}

.story-heading {
	margin: 15rem 0 1rem 0 !important;
	line-height: 81.2%
}

.first-story-pic {
	width: 450px;
	height: 700px;
	background-image: url(../img/pic-1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	left: 37rem;
}

.second-story-pic {
	width: 450px;
	height: 700px;
	background-image: url(../img/pic-2.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	left: 37rem;
}

.third-story-pic {
	width: 450px;
	height: 700px;
	background-image: url(../img/pic-3.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	left: 37rem;
}

.poster-screen {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.contacts-screen {
	height: 150vh;
	margin-top: 20rem;
}

.main-heading-contact {
	line-height: 0;
	margin: 50rem 0 20rem;
	padding: 0;

}

.contact-second-text-block {
	margin: 0rem 0;
}

.second-button {
	margin: -4rem 0 20rem 0;
}



.main-heading-contact {
	margin-bottom: 40rem;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.adress {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.bullet-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem; 
}

footer {
	margin-top: 85rem;
}


/* Смартфон Вертикально */
@media screen and (max-width: 600px) {

	
}

/* Смартфон Горизонтально */
@media screen and (max-width: 960px) {


}

/* Ноутбук */
@media screen and (max-width: 1264px) {


}

/* Большой монитор */
@media screen and (max-width: 1904px) {


}